<!--
<h2 class="page-header" id="name-text">Summary</h2>
-->
<div class="col-lg12 mx-auto" id="environment">

	<div class="card groceryCard">
		<div id=”grocery-container” class="movable">
			<div class="card-header card-header-warning">
				<h2 id="groceryTitle" class="card-title col-sm-nfv">Food Environment</h2>
				<h5 id="groceryTitle" class="card-title col-sm-nfv">Local Food Choices Near Patient Home Address</h5>
			</div>
			<div id="GroceryCardMap" class="card-body table-responsive">
				<h4 id="groceryTitle" class="card-title col-sm-nfv">TODO: Consider Moving this card from "Summary" to its own page
					based on user feedback.</h4>
				<table>
					<tbody>
						<tr class="groceryTableLabel">
							<div class="checkbox-inline">
								<label id='SM_label'><input type="checkbox" id='SM' name="optradio" checked>Supermarkets</label>
							</div>

							<div class="checkbox-inline">
								<label id='FM_label'><input type="checkbox" id='FM' name="optradio" checked>Farmers Markets</label>
							</div>

							<div class="checkbox-inline">
								<label id='CS_label'><input type="checkbox" id='CS' name="optradio" checked>Convenience Stores</label>
							</div>
						</tr>
					</tbody>
				</table>
				<div class="cardBlankBorder GroceryContentsContainer row">
					<div class="leftGrocery col-lg-8" id="map"></div>
					<div class="rightGrocery col-lg-4">
						<th>Shopping Outlets:</th>
						<input id="searchInput" class="controls" type="text" placeholder="Enter a location">
						<table id="groceryTableData" class="groceryTable">
							<tbody class="groceryTableBody">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



<!-- summary.hbs -->
<script src="/javascripts/summarySOF.js" type="text/javascript"></script>
<script src="/javascripts/nutriSavingsController.js" type="text/javascript"></script>
<script src="/javascripts/staticDDP.js" type="text/javascript"></script>
{{!--
<script src="/javascripts/radarChart.js" type="text/javascript"></script> --}}
{{!--
<script src="/javascripts/vitalHandlers.js" type="text/javascript"></script> --}}
<script src="/javascripts/dietEnvironment.js" type="text/javascript"></script>
<script src="/javascripts/summary.js" type="text/javascript"></script>