<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NutriFHIR</title>
  </head>
  Loading...
  <body>
    <script src='./javascripts/fhir-client-v0.1.12.js'></script>
    <!-- Prevent session bleed caused by single threaded embedded browser and sessionStorage API -->
    <!-- https://github.com/cerner/fhir-client-cerner-additions -->
    <script src='./javascripts/fhir-client-cerner-additions-1.0.0.js'></script>
    <script>
      FHIR.oauth2.authorize({
        'client_id': '09cd08e9-d921-4b04-a2e6-fb0f461012ac',
		    'redirect_uri': location.protocol + '//' + location.host + '/summary',
        'scope':  'patient/Patient.read patient/Observation.read patient/Condition.read patient/MedicationOrder.read patient/MedicationStatement.read patient/Encounter.read patient/AllergyIntolerance.read launch online_access openid profile'
      });
    </script>
  </body>
</html>
