<!--
<h2 class="page-header" id="name-text">Summary</h2>
-->
<div class="col-lg12 mx-auto" id="summary">

	<div id="DemoCard" class="card">
		<div id=”container” class="movable">
			<div class="card-header card-header-success">
				<h2 id="Patient_Name" class="card-title col-sm-nfv">Loading Patient...</h2>
                <h4 id="Patient_Name_subtitle" class="card-title col-sm-nfv">Patient Demographics</h4>
			</div>
			<div class="card-body table-responsive">
				<table id="demoNew" class="vtTable table table-hover">
					<thead>
						<th id="dob-name" class="demoTableLabel">DOB</th>
						<th id="age-name" class="demoTableLabel">Age</th>
						<th id="gender-name" class="demoTableLabel">Gender</th>
						<th id="race-name" class="demoTableLabel">Race</th>
						<th id="married-name" class="demoTableLabel">Marital Status</th>
						<th id="insurance-name" class="demoTableLabel">Insurance</th>
					</thead>
					<tbody>
						<tr>
							<th id="dob_text" class="demoTableValue">N/A</th>
							<th id="age_text" class="demoTableValue">N/A</th>
							<th id="gender_text" class="demoTableValue">N/A</th>
							<th id="race_text" class="demoTableValue">N/A</th>
							<th id="married_text" class="demoTableValue">N/A</th>
							<th id="insurance_text" class="demoTableValue">N/A</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-body table-responsive">
				<table id="demoNew1" class="vtTable table table-hover">
					<thead>
						<th id="address-name" class="demoAddressLabel">Address</th>
                        <th id="phone-name" class="demoAddressLabel">Home Phone</th>
					</thead>
					<tbody>
						<tr>
							<th id="addr_text" class="demoTableValue">N/A</th>
							<th id="home_phone_text" class="demoTableValue">N/A</th>                            
						</tr>
					</tbody>
				</table>
			</div>            
		</div>
	</div>

</div>
<!-- summary.hbs -->
<script src="/javascripts/summarySOF.js" type="text/javascript"></script>
<script src="/javascripts/nutriSavingsController.js" type="text/javascript"></script>
<script src="/javascripts/staticDDP.js" type="text/javascript"></script>
<script src="/javascripts/summary.js" type="text/javascript"></script>